@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
}

.logoText {
    padding-top: 10px;
    font-family: 'Lobster', cursive;
}

nav {
    padding-top: 22px;
}

nav a {
    text-decoration: none;
    margin-left: 2em;
    color: #000;
    font-weight: 500;
}

nav i {
    margin-left: 1em;
    margin-right: 1em;
    color: darkolivegreen;
}

.banner img {
    height: 90vh;
    margin-top: 5%;
    margin-right: 9vw;
}

.banner {
    display: flex;
    justify-content: space-between;
    background: url(/img/abstract.jpg);
    background-size: cover;
    min-height: 100vh;
}

.content {
    margin-left: 5vw;
    margin-top: 15%;
}

.content p {
    margin-top: 3em;
    color: #564D4D;
    font-weight: 500;
    font-size: medium;
}

.content a {
    display: inline-block;
    margin-top: 7em;
    text-decoration: none;
    margin-left: 4em;
    background-color: #F6B400;
    color: #fff;
    padding: .8em 1.8em;
    border-radius: 30px 30px 0;

}

.content h2 {
    font-weight: 600;
    font-size: xx-large;
}

.service {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #DDE3DD;
}

.service .quality {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 7%;
    padding: 2%;
    text-align: center;
    
}

.service .delivery {
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 5% 2%;
}

.service div h2 {
    font-weight: 500;
    padding: 1em 0;
}

.service div p {
    font-size: small;
}

.service div i {
    color: #F6B400;
}

