@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header.sticky {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }

header a {
    text-decoration: none;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    margin-top: 10px;
}

.logoText {
    padding-top: 22px;
    font-family: 'Lobster', cursive;
    color: #000;
}

.yellow {
    color: #F6B400;
 
}

.inline {
    display: inline;
    font-family: 'Lobster', cursive;
}

nav {
    padding: 22px 0;
}

nav a {
    text-decoration: none;
    margin-left: 2em;
    color: #000;
    font-weight: 500;
}

nav i {
    margin-left: 1em;
    margin-right: 2em;
    color: #000;
}

.banner img {
    max-width: 30%;
    margin-top: 5%;
    margin-right: 9vw;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #fff 60%, #F6B400 10%);
    background-size: cover;
    background-attachment: fixed;
    max-height: 100vh;
}

.content {
    margin-left: 5vw;
    margin-top: 15%;
}

.content p {
    margin-top: 3em;
    color: #564D4D;
    font-weight: 500;
    font-size: medium;
}

.content a {
    display: inline-block;
    margin-top: 7em;
    text-decoration: none;
    margin-left: 4em;
    background-color: #F6B400;
    color: #fff;
    padding: .8em 1.8em;
    border-radius: 30px 30px 0;

}

.content h2 {
    font-weight: 600;
    font-size: xx-large;
}

.service {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #f5f5f5;
}

.service .quality {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 7%;
    padding: 2%;
    text-align: center;
}

.service .delivery {
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 5% 2%;
}

.service div h2 {
    font-weight: 500;
    padding: 1em 0;
}

.service div p {
    font-size: small;
}

.service div i {
    color: #F6B400;
}

.menu-section .menu-header {
    text-align: center;
    padding: 2em;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu .card {
    margin: 3em;
    text-align: center;
    border-radius: 30px;
    padding: 0 50px;
    width: 25vw;
    box-shadow: 3px 3px 10px 8px rgb(211, 211, 211);
}

.menu .card h2 {
    font-weight: 600;
    padding: 4vh 0;
}

.menu .card img {
    max-width: 15vw;
    padding-top: 2em;
}

.menu .card p {
    font-size: small;
}

.menu .card .price-cart {
    display: flex;
    justify-content: space-around;
    padding: 4vh 0;
}

.menu .card .price-cart p {
    font-size: medium;
    font-weight: 600;
    padding-top: 7px;
}

.menu .card .price-cart i {
    background-color:  #E1EBE6;
    padding: 10px 20px;
    border-radius: 10px;
}

.caroussel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #f5f5f5;

}

.caroussel .caro-left h2 {
    font-weight: 700;
    font-size: 40px;
}

.caroussel .caro-left p {
    margin-top: 2em;
    color: #564D4D;
    font-weight: 500;
    font-size: medium;
}

.caroussel .img-right img {
    max-width: 600px;
    padding-top: 7em;
}

.playstore {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f6b400;
}

.playstore .left-side {
    padding: 80px;
}

.playstore .left-side img {
    max-width: 30vw;
    padding-top: 10em;
}

.playstore .left-side h2 {
    font-weight: 600;
    font-size: xx-large;
    padding-right: 50%;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
}

.footer-links .sitemap {
    display: flex;
    flex-direction: column;
}

.footer-links .sitemap p {
    font-weight: 500;
    font-size: 1.3em;
}

.footer-links .sitemap a {
    color: #000;
    text-decoration: none;
}

footer .socials .social-icons a i:hover,
.footer-links .sitemap a:hover {
    color: #F6B400;
}

.footer-links .newsletter .mail input {
    border: 1px solid #000;
    padding: 6px;
    border-radius: 5px;
}

.footer-links .newsletter .mail a {
    background-color: #F6B400;
    color: #fff;
    margin-left: 0px;
    border: 1px solid #F6B400;
    padding: 5px;
    text-decoration: none;
}

.content a:hover,
.footer-links .newsletter .mail a:hover {
    background-color: #dba102;
}

footer .socials {
    display: flex;
    padding: 20px;
}

footer .socials .social-icons {
    margin-left: 20vw;
}

footer .socials .social-icons a i {
    color: #000;
    text-decoration: none;
    padding-left: 20px;
}

header nav a:hover {
    text-decoration: underline #E5611D;
    text-decoration-thickness: 8px;
}

@media screen and (max-width: 749px) {
    nav {
        padding: 0;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100vh;
        justify-content: center;
        background-image: linear-gradient(120deg, #fff 40%, #F6B400 10%);
    }

    .banner img {
        width: 50%;
        margin: 0;
    }

    .content {
        margin-top: 1em;
        margin-left: 0;
        text-align: center;
    }

    .content h2 {
        font-size: larger;
        font-weight: 700;
    }

    .content p {
        font-size: small;
        margin-top: 1em;
    }

    .content a {
        margin-top: 2em;
        margin-left: 0;
        background-color: #e0e4e2;
        color: #F6B400;
        font-weight: 600;
    }

    .content a:hover {
        background-color: #e0e4e2;
        color: #F6B400;
        box-shadow: 3px 3px 10px 8px rgb(244, 247, 89);

    }

    .service {
        flex-direction: column;
        height: auto;
    }
    
    .service .delivery {
        margin: 7%;
    }

    .menu-section {
        flex-direction: column;
    }

    .caroussel .caro-left p {
        margin: 1em 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu .card {
 
        width: 70vw;
        padding: 0 20px;
    }

    .menu .card img {
        max-width: 50vw;
    }

    .caroussel {
        flex-direction: column-reverse;
        height: auto;
    }

    .caroussel .img-right img {
        max-width: 60vw;
        padding-top: 2em;

    }
 
    .playstore .left-side {
        padding: 0 5vw;
        text-align: center;
    }

    .playstore .left-side h2 {
        padding-right: 0;
    }

    .playstore .left-side img {
        max-width: 90vw;
        padding-top: 5em;

    }

    .playstore .playstore-img {
        display: none;

    }

    .playstore .playstore-img  img{
        max-width: 30vw;
    }

    .footer-links {
        flex-direction: column;
        padding-top: 3vh;
        padding-left: 3vw;
    }

    .footer-links .sitemap {
        padding-top: 3vh;
        padding-left: 3vw;
    }

    .footer-links .newsletter {
        padding-top: 3vh;
        padding-left: 3vw;
        text-align: center;
    }


    .footer-links .newsletter p {
        text-align: center;
        padding-bottom: 1vh;
    }

    .footer-links .newsletter .mail input{
        width: 80vw;
        margin-left: 0;
    }

    .footer-links .newsletter .mail a{
        display: block;
        width: 80vw;
        margin-top: 2vh;
    }

    .footer .socials {
        flex-direction: column;
    }

}